
/* header */
@media screen and (max-width:1366px){
  .arrow-right-open-responsive{
    display: flex!important;
  }
  .nav-ul>a:nth-last-child(2){
    display: none;
  }
  .input-field{
    width: 430px;
  }
}

@media screen and (max-width:1280px){
  .input-field{
    width: 380px;
  }
  .nav-ul>a:nth-last-child(3){
    display: none;
  }
}

@media screen and (max-width:1192px){
  .input-field{
    width: 300px;
  }
  .nav-ul>a:nth-last-child(4){
    display: none;
  }
  .custom-select__trigger{
    width: 80px;
  }
  .custom-select-trigger{
    width: 130px;
  }
  .custom-select__trigger>span{
    padding-left: 0;
  }
}

@media screen and (max-width:1024px){
  .input-field{
    width: 260px;
  }
  .dot-container,.custom-select-trigger{
    display: none;
  }
  .block-preferences{
    display: block;
  }
}

@media screen and (max-width:834px){
  .input-field{
    width: 180px;
  }
}

/* items images */
  @media all and (max-width: 600px) {
    nav ul {
    flex-direction: column;
    }
    nav ul li {
    text-align: center;
    }
}

@media screen and (min-width: 1680px){
   .item {
    /* flex: 1 0 calc(21% - 20px); */
    width:  calc(25% - 32px);
  }
}

@media screen and (max-width: 1440px) {
  .item {
    /* flex: 1 0 calc(29% - 20px); */
    width: calc(33.3% - 32px);
  }
}


@media screen and (max-width: 834px) {
   .item {
    /* flex: 1 0 calc(46% - 20px); */
    width: calc(50% - 32px);
  }
}

@media screen and (max-width: 428px) {
   .item {
    /* flex: 1 0 calc(96% - 20px); */
    width: calc(100% - 32px);
  }
}

@media screen and (max-width: 600px) {
   .item {
    /* flex: 1 0 calc(96% - 20px); */
    width: calc(100% - 32px);
  }
  .item img{
    height: 300px;
  }
}

@media screen and (max-width: 993px) {
  .item img{
    height: 200px;
  }
}


